[MESSAGES CONTROL]

disable=missing-module-docstring,
        import-outside-toplevel,
        too-many-branches,
        too-many-locals,
        too-few-public-methods,
        line-too-long,
        fixme,
        no-else-break,
