[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
types-requests = "*"

[dev-packages]
flit = "*"
black = "*"
mypy = "*"
pylint = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

